.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

button {
  border: 1px solid #3d424c; /* slightly lighter than #2d323c */
  border-radius: 20%;
  background-color: #2d323c;
  text-align: center;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  color: #fff; /* white text to contrast with the dark background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* subtle box shadow */
  transition: background-color 0.3s ease; /* smooth background color transition on hover */
}

button:hover {
  background-color: #3d424c; /* slightly lighter color when hovering over a button */
}

button:disabled {
  cursor: not-allowed;
  color: #999;
}

.current-page {
  font-weight: bold;
  color: #56ef54;
}

.last-page {
  color: #ff0000; /* Change color of last page number if it's the last page */
}

.active {
  background-color: #007bff; /* Change background color of active page number */
  color: #fff;
}