/* Profile.css */

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  max-width: 100vw;
  gap: 20px
}

.profile-details {
  display: flex;
  gap: 20px;
  width: 100%;
}

h2{
  font-size: 2rem;
}

.profile-image {
  max-width: 80%;
  max-height: 80%;
  padding: 20px;
  border: 1px solid gray;
  display: flex; /* Add this line */
  justify-content: center; /* Add this line */
  align-items: center; /* Add this line */
}

.profile-image img {
  width: 100%; /* Add this line */
  height: 100%; /* Add this line */
  object-fit: contain; /* Add this line */
}

.profile-d {
  width: 85%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  gap: 10px;
}

.profile-d p{
  font-size: 1.3rem;
  color: #9E987F
}

.status {
  display: flex;
  align-items: center;
  gap: 5px;
}
.dot{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}
.red{
  background-color: red;
}
.green{
  background-color: rgb(7, 194, 7);
}
.gray{
  background-color: gray;
}

.episodes{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.episode-data {
  height: auto; /* Adjust this to the height you want */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  overflow-y: auto; /* This will add a scrollbar if the content overflows */
  gap: 5px;
  padding: 10px;
  border: 2px solid #008087; /* Add a border */
  border-radius: 10px; /* Optional: Add rounded corners */
}
.location-detail{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.resident-data{
  height: auto; /* Adjust this to the height you want */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  overflow-y: auto; /* This will add a scrollbar if the content overflows */
  gap: 5px;
  padding: 10px;
  border: 2px solid #008087; /* Add a border */
  border-radius: 10px; /* Optional: Add rounded corners */
}

@media (max-width: 950px) {
  .profile-details {
    flex-direction: column;
    align-items: center;
  }

  .profile-d {
    width: 100%;
  }

  .profile-image {
    max-width: 100%;
  }

  h2{
    font-size: 1.5rem;
  }
  
.profile-d p{
  font-size: 1rem;
}
}

@media (max-width: 768px) {
  .profile {
    margin: 10px;
  }

  h2 {
    font-size: 1.4rem;
  }

  .profile-d p {
    font-size: 0.9rem;
  }

  .resident-data episode-data{
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

@media (max-width: 480px) {
  .profile-d {
    padding: 10px;
  }
  h2{
    font-size: 1.3rem;
  }
  
.profile-d p{
  font-size: 0.8rem;
}
.resident-data episode-data{
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}
}