.single-location {
  margin: 15px;
}
.location-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 10px; */
  gap: 5px;
}
.res-data{
  margin: 10px 0px;
}

@media (max-width: 950px) {
  .location-info h1 {
    font-size: 1.5rem;
  }

  .location-info p {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .location-info h1 {
    font-size: 1.4rem;
  }

  .location-info p {
    font-size: 0.9rem;
  }
}
@media (max-width: 950px) {

  .location-info h1 {
    font-size: 1.3rem;
  }

  .location-info p {
    font-size: 0.8rem;
  }
}
