.location-card-detail {
  height: auto; /* Adjust this to the height you want */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  overflow-y: auto; /* This will add a scrollbar if the content overflows */
  gap: 20px;
  padding: 10px;
}
