.episode-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  width: 100px;
  height: 100px;
}

.episode-card h3 {
  margin: 0 0 10px 0;
  font-size: 18px;
}

.episode-card p {
  margin: 0 0 10px 0;
  font-size: 14px;
}